{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h2>Войти</h2>
<div class="col-md-6 col-sm-8 col-12">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-success" type="submit">Войти</button>
  </form>
</div>
{% endblock content %}
