{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:category_change_list' %}">Мои категории</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:category_change' category.pk %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active">Подтвердить удаления</li>
  </ol>
</nav>
<h2 class="mb-3">Удаление категории</h2>
<p class="lead">Вы уверены, что хотите удалить категорию <strong>"{{ category.name }}"</strong>?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger btn-lg">Да, удалить категорию</button>
  <a href="{% url 'quiz:category_change' category.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Я передумал</a>
</form>
{% endblock %}
