{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Мои категории</li>
  </ol>
</nav>
<h2 class="mb-3">Мои категории</h2>
<a href="{% url 'quiz:category_add' %}" class="btn btn-success my-3" role="button">Добавить категорию</a>
<div class="table-responsive">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Имя категории</th>
        <th>Количество опросов</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr class="clickable" href="{% url 'quiz:category_change' category.pk %}">
          <td class="align-middle">{{ category.name }}</td>
          <td class="align-middle">{{ category.quizzes_count }}</td>
        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="5">Вы еще не создавали категорий.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
