{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:category_change_list' %}">Мои категории</a></li>
    <li class="breadcrumb-item active">Добавить новую категорию</li>
  </ol>
</nav>
<h2 class="mb-3">Добавление категории</h2>
<div class="row">
  <div class="col-md-6 col-sm-8 col-12">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success">Сохранить</button>
      <a href="{% url 'quiz:category_change_list' %}" class="btn btn-outline-secondary" role="button">Оставить</a>
    </form>
  </div>
</div>
{% endblock %}
