@media (min-width: 576px) and (max-width: 767.98px) {
    div.card.category {
        width:450px;
    }
}
@media (max-width: 575.98px) {
    div.card.category, div.d-flex>div.m-3 {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    div.card.category {
        width:305px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    div.card.category {
        width:280px;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    div.card.category {
        width:340px;
    }
}
@media (min-width: 1500px) {
    div.card.category {
        width:325px;
    }
    body>div.container {
        max-width:1450px
    }
}


body {
    background-image: url('/static/background.svg');
}

textarea.form-control {
    width: 100%;
    height: 2.5rem;
}

textarea.form-control:focus {
    height: 20rem;
}

a.dropdown-item:hover, .clickable:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}
