{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change_list' %}">Мои опросники</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change' quiz.pk %}">{{ quiz.subject }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Добавить вопрос</li>
  </ol>
</nav>
<h2 class="mb-3">Добавление нового вопроса</h2>
<div class="col-md-6 col-sm-8 col-12">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'quiz:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Я передумал</a>
  </form>
</div>
{% endblock %}
