{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change_list' %}">My Quizzes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change' quiz.pk %}">{{ quiz.subject }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:question_change' quiz.pk question.pk %}">{{ question.subject }}</a></li>
    <li class="breadcrumb-item active">Подтвердить удаление</li>
  </ol>
</nav>
<h2 class="mb-3">Удаление вопроса</h2>
<p class="lead">Вы уверены, что хотите удалить вопрос <strong>"{{ question.subject }}"</strong>?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger btn-lg">Да, удалить</button>
  <a href="{% url 'quiz:question_change' quiz.pk question.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Я передумал</a>
</form>
{% endblock %}
