{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change_list' %}">Мои опросники</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change' quiz.pk %}">{{ quiz.subject }}</a></li>
    <li class="breadcrumb-item active">{{ question.subject }}</li>
  </ol>
</nav>
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="col-md-6 col-sm-8 col-12">
    {% bootstrap_form form %}
  </div>
  <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <strong>Варианты ответов</strong>
        </div>
        <div class=" text-right col">
          <strong>Ответ правильный?</strong>
        </div>
        <div class=" text-center col">
          <strong>Удалить из базы?</strong>
        </div>
      </div>
    </div>
    {% for error in formset.non_form_errors %}
      <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
    {% endfor %}
    <div class="list-group list-group-flush list-group-formset">
     {% for form in formset %}
       <div class="list-group-item">
         <div class="row">
           {% bootstrap_form form form_group_class='col' show_label=False %}
         </div>
       </div>
      {% endfor %}
    </div>
  </div>
  <p>
    <small class="form-text text-muted">У вопроса должно быть минимум <strong>2</strong> ответа и максимум <strong>10</strong>. Как минимум один из них верный.</small>
  </p>
  <button type="submit" class="btn btn-success">Сохранить</button>
  <a href="{% url 'quiz:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Ничего не менять</a>
  <a href="{% url 'quiz:question_delete' quiz.pk question.pk %}" class="btn btn-danger float-right">Удалить вопрос</a>
</form>
{% endblock %}
