{% extends 'base.html' %}
{%load bootstrap4 %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_change_list' %}">Мои опросники</a></li>
    <li class="breadcrumb-item active">{{ quiz.subject }}</li>
  </ol>
</nav>
<h2 class="mb-3">{{ quiz.subject }}</h2>
<div class="row mb-3">
  <div class="col-md-6 col-sm-8 col-12">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success">Сохранить изменения</button>
      <a href="{% url 'quiz:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Я передумал</a>
      <a href="{% url 'quiz:quiz_delete' quiz.pk %}" class="btn btn-danger float-right">Удалить опросник</a>
    </form>
  </div>
</div>
{% if questions %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Вопрос</th>
        <th>Ответов</th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr class="clickable" href="{% url 'quiz:question_change' quiz.pk question.pk %}">
          <td>{{ question.subject }}</td>
          <td>{{ question.answers_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p class="h5">Вопросов нет.</p>
{% endif %}
<a href="{% url 'quiz:question_add' quiz.pk %}" class="btn btn-success">Добавить вопрос</a>
{% endblock %}
