{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Мои опросники</li>
  </ol>
</nav>
<h2 class="mb-3">Мои опросники</h2>
<a href="{% url 'quiz:quiz_add' %}" class="btn btn-success my-3" role="button">Добавить опрос</a>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Опрос</th>
        <th>Вопросов</th>
        <th>Пройден раз</th>
      </tr>
    </thead>
    <tbody>
      {% for quiz in quizzes %}
        <tr class="clickable" href="{% url 'quiz:quiz_change' quiz.pk %}">
          <td>{{ quiz.subject }}</td>
          <td>{{ quiz.questions_count }}</td>
          <td>{{ quiz.taken_count }}</td>
        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center" colspan="5">Пока нет никаких опросов. </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
