{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:home' %}">Все категории</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
  </ol>
</nav>
<h1>{{ category.name }}</h1>
<p class="mt-4">{{ category.description }}</p>
{% if quizzes %}
<div class="table-responsive">
  <table class="table mt-5">
    <thead>
      <tr>
        <th>№</th>
        <th>Тема</th>
        <th>Количество вопросов</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
    {% for quiz in quizzes %}
      <tr class="clickable" href="{% url 'quiz:quiz_details' quiz.pk %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ quiz.subject }}</td>
        <td>{{ quiz.questions_count }}</td>
        <td>{{ quiz.created_on|naturaltime}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div>Опросов в этой категории не найдено. </div>
{% endif %}
{% endblock %}
