{% extends 'base.html' %}
{% block content %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:home' %}">Все категории</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:category_quizzes' category.pk %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_details' quiz.pk %}">{{ quiz.subject }}</a></li>
  </ol>
</nav>
<h1>Ваш бал за прохождение опроса: {{ taken_quiz.score }}</h1>
<p class="mt-5">
Подробный отчет можно просмотреть <a class="btn btn-lg btn-success" href="{% url 'quiz:result_details' taken_quiz.pk %}">Тут</a>
</p>
{% endblock %}
