{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Все категории</li>
  </ol>
</nav>
{% if categories %}
<div class="d-flex align-content-start flex-wrap">
  {% for category in categories %}
  <div class="m-2">
    <div class="card category clickable" href="{% url 'quiz:category_quizzes' category.pk %}">
      <div class="card-body" >
        <h2 class="card-title">{{ category.name }}</h2>
        <p class="card-text">{{ category.description }}</p>
        <a class="btn btn-outline-success mt-2" href="{% url 'quiz:category_quizzes' category.pk %}">
            Опросов <span class="badge badge-success">{{ category.quizzes_count }}</span>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div>Пока нет никаких категорий.</div>
{% endif %}
{% endblock %}
