{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:home' %}">Все категории</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:category_quizzes' quiz.category.pk %}">{{ quiz.category.name }}</a></li>
    <li class="breadcrumb-item active">{{ quiz.subject }}</li>
  </ol>
</nav>
<h1>{{ quiz.subject }}</h1>
<p class="mt-3">{{ quiz.description }}</p>
<p class="mb-0">Создатель: {{ quiz.creator }}</p>
<p class="mt-0">Вопросов: {{ quiz.questions_count }}</p>
{% if quiz.questions_count > 0 %}
<form action="take/" method="post">
  {% csrf_token %}
  <input class="btn btn-success btn-lg mt-4" type="submit" value="Пройти опрос!">
</form>
{% else %}
<p class="h5"> В этом опросе нет вопросов!</p>
{%endif%}
{% endblock %}
