{% extends 'base.html' %}
{% load humanize %}
{% load tags %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:home' %}">Все категории</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:results' %}">Пройденные опросы</a></li>
    <li class="breadcrumb-item active">Отчет</li>
  </ol>
</nav>
<h2>В опросе {{ taken_quiz.quiz.subject }} набрано {{ taken_quiz.score }}</h2>
<p> Пройден за {{ taken_quiz.time|to_mins }} мин. пользователем {{taken_quiz.creator}} (начат {{ taken_quiz.created_on }})</p>
{% if questions %}
  {% for question in questions %}
  <hr>
    <div class="container row">
      <div class="col-8">
        <h3>{{ forloop.counter }}. {{ question.object.subject }}</h3>
        <p class="lead">{{ question.object.body }}</p>
      </div>
      <div class="col-1 aligh-bottom">
        {% if not question.correct and question.object.explanation %}
        <button type="button" data-placement="top" class="btn btn-outline-success" data-toggle="popover" data-content="{{ question.object.explanation }}">
        Подсказка
        </button>
        {% endif %}
      </div>
    </div>
    <div class="alert alert-{{ question.correct|yesno:"success,danger"}}">
    {% for answer in question.answers %}
      <p class="mb-0">{{ answer.body }}</p>
    {% endfor %}
    </div>
  {% endfor %}
{% else %}
<h3 class="mt-5">Вы не оставили ответов.</h3>
{% endif %}
{% endblock %}
