{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quiz:home' %}">Все категории</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:category_quizzes' category.pk %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_details' quiz.pk %}">{{ quiz.subject }}</a></li>
  </ol>
</nav>
<p class="text-right"> Вопрос <span class="h3">{{ question_num }}/{{ questions_count }}</span></p>
<h3>{{ question.subject }}</h3>
<p class="my-3">{{ question.body}}</p>
<form class="form" action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <input class="btn btn-primary" type="submit" value="Далее" />
</form>
{% endblock %}
