{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:users_with_reports' %}">Все пользователи</a></li>
      <li class="breadcrumb-item active">{{ user.username }}</li>
  </ol>
</nav>
{% if user_taken_quizzes %}
<h2>Пройденные опросы {{ user.username }}</h2>
<div class="table-responsive">
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Опрос</th>
        <th>Очки</th>
        <th>Начат</th>
      </tr>
    </thead>
    <tbody>
    {% for taken_quiz in user_taken_quizzes %}
      <tr class="clickable" href="{% url 'quiz:result_details' taken_quiz.pk %}">
        <td>{{ taken_quiz.quiz.subject }}</td>
        <td>{{ taken_quiz.score }}</td>
        <td>{{ taken_quiz.created_on|naturaltime}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div> Пройденных опросов не найдено. </div>
{% endif %}
{% endblock %}
