{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Все пользователи</li>
  </ol>
</nav>
<h2 class="mb-3">Пользователи с пройденными опросами</h2>
{% if users_with_reports %}
<div class="table-responsive">
  <table class="table my-4">
    <thead>
      <tr>
        <th>Пользователь</th>
        <th>Пройденных опросов</th>
        <th>Дата регистрации</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_with_reports %}
      <tr class="clickable" href="{% url 'users:user_results' user.pk %}">
        <td>{{ user.username }}</td>
        <td>{{ user.taken_quizzes_count }}</td>
        <td>{{ user.date_joined|naturaltime}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p class="h4">Никто пока не проходил опросы. </p>
{% endif %}
{% endblock %}
